<p id="notice"><%= notice %></p>

<h1>Drinks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Drink logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <a href="drinks/new" class="btn btn-primary">New Drink</a>
    
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= image_tag drink.drink_logo.url(:thumb), height: "40px" %></td>
        <td><%= link_to 'Show', drink %></td>
        <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
        <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
