<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src= "https://github.com/timseo/regrets/blob/master/image/regrets-logo-white.png?raw=true" alt= "regrets" class= "img_responsive" height= '30px' >
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://timseo.github.io/GA_project1/">sloPPy Dice</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/drinks">Drinks</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a>

            </a>
        </li>







        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members Only   <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a>
                <% if current_user %>
                  <!-- current_user will return true if a user is logged in -->
                  <%= "Logged in as #{current_user.name}" %>
                  <%= link_to 'Post', posts_path %>
                  <%= link_to 'Log Out', logout_path, method: :delete %>
                <% else %>
                  <!-- not logged in -->
                  <%= link_to 'Home', root_path %>
                  <%= link_to 'Log In', login_path %>
                  <%= link_to 'Sign Up', new_user_path %>
                <% end %>
              </a>
            </li>
            <!-- <li><a href="#">Another action</a></li> -->
            <!-- <li><a href="#">Something else here</a></li> -->
            <!-- <li role="separator" class="divider"></li> -->
            <!-- <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
