<%= form_for @order do |o| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= o.collection_select :drink, Drink.all.order(:name), :id, :name, prompt: true %>
    </div>

    <div class="field">
      <%= o.label :quantity %>
      <%= o.text_field :quantity %>
    </div>

    <div class="actions">
      <%= o.submit %>
    </div>

<% end %>
