<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @post.drinks %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @post.quantity %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
